node_modules/
.DS_Store
yarn-error.log
tmp/
lens.log
docs/extensions/api
site/
lerna-debug.log
coverage
dist
!packages/openlens-node-pod-menu/dist/**
node_modules
.linkable.json
yalc.lock
.yalc
scratch/
